/* Gemeinsame Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px 40px;
}

.social-language {
    display: flex;
    position: absolute;
}

.language-switch {
    margin-left: 10px;
}

.language-switch select {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.language-switch select:hover {
    color: grey;
}

.cart {
    display: flex;
    position: absolute;
    right: 5%;
    top: 10px;
}

.cart-icon-container {
    position: absolute;
    display: inline-block;
    top: 0px;
}

.cart-icon {
    width: 40px;
    height: auto;
}

#cart-item-count {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.main-content {
    text-align: center;
    margin: 50px 20px;
}

.site-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5px;
}

.abstract-art {
    margin-top: 5px;
    font-size: 14px;
}

.title-line {
    max-width: 800px;
    height: 0.8px;
    background-color: grey;
    margin: 10px auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: grey;
}

/* Spezifische Styles für die Bildsektion */
.image-section {
    position: relative;
    overflow: hidden;
    height: 500px; /* Ändern Sie die Höhe nach Bedarf */
}

.image-section img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Skaliert das Bild so, dass es den Container abdeckt */
    z-index: -1; /* Setzt das Bild hinter andere Elemente */
}

.image-overlay {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: rgb(95, 93, 93);
    margin: 5px;
}

.main-content {
    position: relative;
    z-index: 1; /* Setzt den Hauptinhalt über das Bild */
}

.image-overlay p {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.image-overlay button {
    padding: 10px 20px;
    background-color: #fff;
    color: grey;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .title-line {
        max-width: 100%;
        height: 0.8px;
        background-color: grey;
        margin: 10px auto;
    }

    .image-overlay {
        top: 5%;
        left: 5%;
        transform: translate(0, 0);
    }

    .image-overlay p {
        font-size: 1.5rem;
        margin-bottom: 5px;
        margin-top: 0;
        color: #000; /* Textfarbe auf Grau setzen */
    }

    .image-overlay button {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #fff;
        color: grey;
        border: 2px solid grey;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .image-overlay button:hover {
        background-color: grey;
        color: #fff;
    }

    body {
        overflow-x: hidden; /* Verhindert seitliches Scrollen */
    }

    footer {
        padding: 20px;
        width: 100vw; /* Änderung: Vollständige Bildschirmbreite verwenden */
        box-sizing: border-box; /* Änderung: Padding in die Gesamtbreite einbeziehen */
    }

    .image-section {
        height: 250px; /* Ändern Sie die Höhe nach Bedarf */
    }

    .shop-section {
        padding: 20px 20px 50px; /* Ändern Sie die Padding-Werte nach Bedarf */
    }
}

/* Spezifische Styles für die shop.html-Seite */
.shop-section {
    padding: 50px;
    background-color: seashell;
}

.shop-title {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.shop-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-item {
    text-align: center;
    margin-bottom: 20px;
    width: calc(30% - 20px);
}

.shop-item img {
    width: 100%;
    height: auto;
}

.shop-item-name {
    font-size: 18px;
    margin: 30px;
}

.shop-item button {
    opacity: 0;
    background-color: transparent;
    color: #fff;
    border: 2px solid grey;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s, color 0.3s;
    width: 100%;
    margin-bottom: 20px;
}

.shop-item:hover button {
    opacity: 1;
    background-color: #fff;
    color: grey;
}

.shop-item button:hover {
    background-color: grey;
    color: #fff;
}

/* Anpassungen für den Shop-Bereich in der mobilen Ansicht */
@media only screen and (max-width: 600px) {
    .shop-grid {
        flex-direction: column;
        align-items: center;
        margin-top: 0px; /* Passen Sie den oberen Abstand nach Bedarf an */
    }

    .shop-item {
        width: 100%;
    }

    .shop-item-name {
        margin: 10px;
    }

    .shop-item button {
        display: none; /* Buttons in der mobilen Ansicht ausblenden */
    }

    .shop-item img {
        width: 100%;
        height: auto;
    }

    .shop-section {
        margin-top: 0; /* Reduziert den oberen Abstand der shop-section */
        padding: 20px; /* Fügt etwas Padding hinzu, um den Inhalt zu trennen */
    }
}

footer {
    background-color: rgba(178, 107, 45, 0.53);
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}
